.canvas__container {
  width: 3000px;
  height: 3000px;
  background-repeat: repeat;
}

.ca1__speaker {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.ca2__speaker {
  width: 500px;
  position: absolute;
  top: 10px;
  left: 300px;
}

.ca3__speaker {
  width: 350px;
  position: absolute;
  top: 250px;
  left: 300px;
}

.ca4__speaker {
  width: 350px;
  position: absolute;
  top: 500px;
  left: 1000px;
}
.ca5__speaker {
  width: 500px;
  position: absolute;
  top: 50px;
  left: 1500px;
}

.ca6__speaker {
  width: 350px;
  position: absolute;
  top: 10px;
  left: 1000px;
  z-index: -1;
}
.ca7__speaker {
  width: 500px;
  position: absolute;
  top: 50px;
  left: 2000px;
}
